.footer {
	position: absolute;
	z-index: 100;
	bottom: 0;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer ul {
	width: 90%;
	margin: 2rem auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 5px;
}

.footer ul li {
	margin: 0 1rem;
	margin-top: 1rem;
	font-weight: 600;
}

.footer ul li a {
	color: var(--secondary-color);
	font-size: 1.2rem;
}
